@import "./module/varibles";
@import "./module/reset";
@import "./module/mixin";

@each $key, $color in $colors {
  .#{$color}-text {
    color: $color;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: 100%/12 * $i;
  }
  @for $j from 1 through 5 {
    .text-#{$j} {
      font-size: 15px * $j;
    }
  }
}

$colors: (
  color1: blue,
  color2: black,
  color3: red,
);

@each $key, $color in $colors {
  .#{$color}-bg {
    background-color: $color;
  }
}
